<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
<header>
    <img th:src="@{/images/logo.png}" alt="Logo" class="logo" width="200">
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
    <ul>
        <!-- 로그인 상태 확인 후 링크 출력 -->
        <li th:if="${id == 'anonymousUser'}"><a href="login">Login</a></li>
        <li th:if="${id == 'anonymousUser'}"><a href="join">Sign Up</a></li>
        <li th:unless="${id == 'anonymousUser'}"><a href="#" th:text="${id + '님'}"></a></li>
        <li th:unless="${id == 'anonymousUser'}"><a href="logout">Logout</a></li>
    </ul>
</nav>
</body>
</html>