<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Online Store</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <style>
        /* 카트 아이콘을 약간 아래로 이동시키는 스타일 */
        .cart-icon {
            vertical-align: middle;
            margin-top: 1px; /* 원하는 만큼의 여백 설정 */
        }
    </style>

</head>
<body>
<header>
    <a th:href="@{/}">
        <img th:src="@{/images/logo.png}" alt="Logo" class="logo" width="200">
    </a>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <!-- 로그인 상태 확인 후 링크 출력 -->
        <li><a href="/cart"><img src="/images/cart-icon.png" alt="Cart" class="cart-icon" width="25"></a></li>
        <li th:if="${id == 'anonymousUser'}"><a href="/login">Login</a></li>
        <li th:if="${id == 'anonymousUser'}"><a href="/join">Sign Up</a></li>
        <li th:unless="${id == 'anonymousUser'}"><a th:href="@{'/info/' + ${id}}"><span th:text="${id + '님'}"></span></a></li>
        <li th:unless="${id == 'anonymousUser'}"><a href="/logout">Logout</a></li>
    </ul>
</nav>
</body>
</html>